---
title: "Merci"
layout: "layouts/survey.njk"
permalink: "/satisfaction-client/merci/"
otherLanguagePermalink: "/client-satisfaction/thank-you/"
---

<p>Merci d’avoir partagé votre rétroaction. Nous l’examinerons pour améliorer nos services.</p>
