---
title: National AccessAbility Week 2025
description: National AccessAbility Week (NAAW) is a week-long event that promotes accessibility and inclusion for people with disabilities.
permalink: /naaw/
otherLanguagePermalink: /sna/
---

<p>Try out our trivia quiz to test your knowledge on the subject with this fun <a href="/naaw/trivia"><abbr title="Accessibility, Accommodation and Adaptive Computer Technology program">AAACT</abbr> Accessibility Trivia</a>!</p>
