---
title: National AccessAbility Week 2025
description: National AccessAbility Week (<abbr>NAAW</abbr>) offers a meaningful opportunity to explore accessibility and inclusion in the workplace and reaffirm our shared commitment to building a more inclusive public service. We invite you to participate in a range of exciting events throughout the week.
permalink: /naaw/
otherLanguagePermalink: /sna/
---

<div class="row mb-3">
	<div class="col-sm-8">
		<p><strong>Celebrate National AccessAbility Week (<abbr>NAAW</abbr>) &mdash; May 25 to 31!</strong></p>
		<p>At <abbr title="Accessibility, Accommodation and Adaptive Computer Technology">AAACT</abbr>, we take accessibility to heart not only during <abbr title="National AccessAbility Week">NAAW</abbr> but beyond. Our program supports employees and managers across all Government of Canada (<abbr>GC</abbr>) organizations in identifying accessibility needs and recommending reasonable, effective solutions. We offer personalized support through informal consultations, tailored job accommodation recommendations, and adaptive solutions such as customized hardware and software. Our services extend to both short-term and long-term employees, providing ongoing collaboration to ensure the seamless integration of adaptive technologies as quickly as possible.</p>
	</div>
	<div class="col-sm-4"><img src="/img/01 NAAW-2025-EN.jpg" alt="" class="img-responsive"></div>
</div>
<p>Be sure to <a href="/learning/">visit our Learning Page</a> to register for our upcoming events, open to all GC employees, and join us for <a href="/naaw/trivia"><abbr title="Accessibility, Accommodation and Adaptive Computer Technology">AAACT</abbr> Accessibility Trivia</a>&nbsp;&mdash; a fun and interactive way to test your knowledge and celebrate accessibility.</p>
<p>To learn more about how <abbr title="Accessibility, Accommodation and Adaptive Computer Technology">AAACT</abbr> can help you, visit our <a href="https://www.canada.ca/en/shared-services/corporate/aaact-program/how-aaact-help-you.html">How AAACT Can Help You?</a> web page.</p>
<p>Let's come together to promote a more accessible and inclusive future!</p>
