---
title: Accessibility, Accommodation and Adaptive Computer Technology program (AAACT) Accessibility Trivia
description: We're thrilled to invite you to play <strong><abbr title="Accessibility, Accommodation and Adaptive Computer Technology">AAACT</abbr> Accessibility Trivia</strong> -- a fun and interactive way to celebrate accessibility, build connections, and spark learning across the public service!
permalink: /naaw/trivia/
otherLanguagePermalink: /sna/quiz/
---

<p><strong>How does it work? It's simple!</strong></p>

<p>Register now, and the challenge kicks off on Monday, May 26. Each morning, you'll receive a link to a GCForms questionnaire featuring that day's trivia questions. Complete the daily questionnaire and explore key accessibility concepts that will broaden your knowledge. After submitting your answers, you'll receive the correct responses, allowing you to track your progress and enhance your understanding each day.</p>

<p>At the end of each day, if you get 5 or more questions correct, your name will be entered into a prize draw. Two lucky winners will be announced during our Accessible Horizons live event and will receive an exclusive <abbr title="Accessibility, Accommodation and Adaptive Computer Technology">AAACT</abbr> water bottle!</p>

<p>Don't miss out on the fun! <a href="https://forms-formulaires.alpha.canada.ca/en/id/cmamuumzs00j4yr0183mb3rgh">Register for <abbr title="Accessibility, Accommodation and Adaptive Computer Technology">AAACT</abbr> Accessibility Trivia</a> today, and be sure to <a href="https://aaact.canada.ca/learning/accessible-horizons-welcomes-its-first-and-very-special-guest/">sign up for the Accessible Horizons</a> live event to join us for the grand prize draw!</p>

<p>So, are you ready to test your knowledge, discover new insights, and win awesome prizes?</p>
