---
title: Semaine nationale de l’accessibilité 2025
description: La Semaine nationale de l’accessibilité (<abbr>SNA</abbr>) offre une occasion significative d'explorer l'accessibilité et l'inclusion en milieu de travail et de réaffirmer notre engagement commun à bâtir un service public plus inclusif. Nous vous invitons à participer à une série d'événements passionnants tout au long de la semaine.
permalink: /sna/
otherLanguagePermalink: /naaw/
---

<div class="row mb-3">
	<div class="col-sm-8">
		<p><strong>Célébrons la Semaine nationale de l'accessibilité (<abbr>SNA</abbr>)&nbsp;&mdash; du 25 au 31 mai !</strong></p>
		<p>Chez l'Accessibilité, adaptation et technologie informatique adaptée (<abbr>AATIA</abbr>), nous mettons l'accessibilité au cœur de nos préoccupations, non seulement pendant la <abbr title="Semaine nationale de l’accessibilité">SNA</abbr>, mais aussi au-delà. Notre programme soutient les employés et les gestionnaires de toutes les organisations du gouvernement du Canada (<abbr>GC</abbr>) à cerner les besoins en matière d'accessibilité et à recommander des solutions raisonnables et efficaces. Nous offrons un soutien personnalisé par le biais de consultations informelles, de recommandations d'adaptation personnalisées  et de solutions adaptatives telles que du matériel et des logiciels personnalisés. Nos services s'étendent tant aux employés à court qu'à long terme, offrant un soutien et une collaboration continue pour assurer une intégration rapide des technologies d'adaptation.</p>
</div>
	<div class="col-sm-4"><img src="/img/01 NAAW-2025-FR.jpg" alt="" class="img-responsive"></div>
</div>
<p>Assurez-vous de <a href="/formation/">visiter notre page de formation</a> pour vous inscrire à nos événements à venir, ouverts à tous les employés du GC, et rejoignez-nous pour le <a href="/sna/quiz/">jeu quiz d'accessibilité de l'<abbr title="Accessibilité, adaptation et technologie informatique adaptée">AATIA</abbr></a>&nbsp;&mdash; une manière amusante et interactive de tester vos connaissances et de célébrer l'accessibilité.</p>
<p>Pour en savoir plus sur la façon dont l'<abbr title="Accessibilité, adaptation et technologie informatique adaptée">AATIA</abbr> peut vous aider, visitez notre page web <a href="https://www.canada.ca/fr/services-partages/organisation/programme-aatia/programme-aatia-peut-aider.html">Comment le programme d'<abbr title="Accessibilité, adaptation et technologie informatique adaptée">AATIA</abbr> peut-il vous aider?</a>.</p>
<p>Rassemblons-nous pour promouvoir un avenir plus accessible et inclusif !</p>
