---
title: Semaine nationale de l’accessibilité 2025
description: La Semaine nationale de l’accessibilité (SNA) est un événement d’une semaine qui promeut l’accessibilité et l’inclusion des personnes handicapées.
permalink: /sna/
otherLanguagePermalink: /naaw/
---

<p>Testez vos connaissances sur le sujet avec ce quiz amusant <a href="/sna/quiz">Quiz d'accessibilité de l'<abbr title="Accessibilité, adaptation et technologie informatique adaptée">AATIA</abbr></a>!</p>
