---
title: Quiz d'accessibilité de l'Accessibilité, adaptation et technologie informatique adaptée (AATIA)
description: Nous sommes ravis de vous inviter à participer au <strong>jeu quiz d'accessibilité de l'AATIA</strong> -- une activité amusante et interactive pour célébrer l'accessibilité, créer des liens et stimuler l'apprentissage au sein du service public&nbsp;!
permalink: /sna/quiz/
otherLanguagePermalink: /naaw/trivia/
---

<p><strong>Comment cela fonctionne-t-il ? C'est simple !</strong></p>

<p>Inscrivez-vous dès maintenant, et le défi commence le lundi 26 juin. Chaque matin, vous recevrez un lien vers un questionnaire GCForms avec les questions du jour. Remplissez le questionnaire quotidien et explorez des concepts clés sur l'accessibilité qui élargiront vos connaissances. Après avoir soumis vos réponses, vous recevrez les bonnes réponses, ce qui vous permettra de suivre vos progrès et de renforcer votre compréhension chaque jour.</p>

<p>À la fin de chaque journée, si vous répondez correctement à 5 questions ou plus, votre nom sera inscrit à un tirage au sort. Deux heureux gagnants seront annoncés lors de notre événement en direct <em>Horizons accessibles</em> et recevront une bouteille d'eau exclusive de l'AATIA !</p>

<p>Ne manquez pas le plaisir ! <a href="https://forms-formulaires.alpha.canada.ca/fr/id/cmamuumzs00j4yr0183mb3rgh">Inscrivez-vous dès aujourd'hui au jeu-questionnaire d'accessibilité de l'AATIA</a>, et assurez-vous de vous <a href="https://aaact.canada.ca/formation/horizons-accessibles-accueille-son-tout-premier-invite-tres-special/">inscrire à l'événement en direct Horizons accessibles</a> pour participer au tirage au sort des grands prix !</p>

<p>Alors, êtes-vous prêt à tester vos connaissances, découvrir de nouvelles perspectives et gagner des prix incroyables ?</p>
