---
title: "Thank you"
layout: "layouts/survey.njk"
permalink: "/client-satisfaction/thank-you/"
otherLanguagePermalink: "/satisfaction-client/merci/"
---

<p>Thank you for sharing your feedback. We’ll review your comments and use them to improve future service.</p>
