
{# When modifying this do not forget about the passport events list #}
<section class="gc-features">
	<h2>{{ eventHeading }}</h2>
	<div class="row wb-eqht-grd mt-4">
		{%- if learninglist and learninglist.length > 0 -%}

		{% for event in learninglist %}

		<div class="col-sm-6">
			<section class="well well-sm">

				{%- if event.data.image -%}
				<img src="{{ event.data.image.source }}" alt="{{ event.data.image.alt }}">
				{%- endif -%}

				<h3>
					<a class="stretched-link" href="{{ event.url }}">
						{{ event.data.title }}
					</a>
				</h3>

				{%- if event.data.eventDetails -%}
				<dl>
					<dt>{{ learning[locale].eventDate }}</dt>
					<dd>
						{%- if event.data.eventDetails.eventDate -%}
						{{ event.data.eventDetails.eventDate | htmlDateString }}
						{%- else -%}
						{{ event.data.eventDetails[locale].date | htmlDateString }}
						{%- endif -%}
					</dd>
				</dl>
				{%- endif -%}

				{%- if event.data.description -%}
				<p>{{ event.data.description | markdownInline | safe }}</p>
				{%- endif -%}

			</section>
		</div>

		{% endfor %}

		{%- else -%}

		<div class="col-sm-12">
			<p>
				{% if eventHeading == learning[locale].upcomingActivities %}
				{{ learning[locale].noUpcomingActivities }}
				{% elif eventHeading == learning[locale].pastActivities %}
				{{ learning[locale].noPastActivities }}
				{% elif eventHeading == learning[locale].scheduledActivities %}
				{{ learning[locale].noScheduledActivities }}
				{% else %}
				{{ learning[locale].noLearningEvents }}
				{% endif %}
			</p>
		</div>

		{%- endif -%}

	</section>

