---
title: Government of Canada (GC) Workplace Accessibility Passport
description: The GC Workplace Accessibility Passport, a tool to build an accessible and inclusive federal public service. Download the Passport and access the full range of Passport resources, such as the Passport newsletter, videos, and much more.
permalink: /accessibility-passport/
otherLanguagePermalink: /passeport-accessibilite/
eleventyExcludeFromCollections: true
---

<p>The Government of Canada (GC) Workplace Accessibility Passport promotes easy and timely access to the tools and support measures employees with disabilities need to succeed in their job.</p>
<p>The Accessibility, Accommodation and Adaptive Computer Technology (AAACT) is partnering with the Office of Public Service Accessibility to support employees and organizations who adopt the Passport.</p>
<p>Download the <a href="https://www.canada.ca/content/dam/tbs-sct/documents/accessibility-publi-service/gc-workplace-accessibility-passport-02-2025.docx">GC Workplace Accessibility Passport (Word, 73<abbr title="kilobyte">KB</abbr>)</a> - This will open in a new window as an accessible .docx file.</p>

{# List all learning events here #}

{%- set passportlist = collections.passport | localeMatch(locale) -%}

<div class="row wb-eqht mrgn-tp-lg gc-srvinfo">
	{%- for item in passportlist -%}
		<div class="col-md-6">
			<h2><a href="{{ item.page.url }}">{{ item.data.title }}</a></h2>
			<p>{{ item.data.description }}</p>
		</div>
	{%- endfor -%}
</div>

<section>
	<h2>Resources</h2>
	<ul>
		<li><a href="https://www.canada.ca/en/government/publicservice/wellness-inclusion-diversity-public-service/diversity-inclusion-public-service/accessibility-public-service/government-canada-workplace-accessibility-passport.html">Government of Canada Workplace Accessibility Passport</a></li>
	</ul>
	<h3>Information for Managers</h3>
	<ul>
		<li><a href="https://www.canada.ca/en/government/publicservice/wellness-inclusion-diversity-public-service/diversity-inclusion-public-service/working-government-canada-duty-accommodate-right-non-discrimination/duty-accommodate-general-process-managers.html">Duty to Accommodate: A General Process For Managers</a></li>
		<li><a href="https://www.canada.ca/en/government/publicservice/wellness-inclusion-diversity-public-service/diversity-inclusion-public-service/accessibility-public-service/government-canada-workplace-accessibility-passport/gc-workplace-accessibility-passport-guidance-managers.html">Government of Canada Workplace Accessibility Passport Guidance for Managers</a></li>
	</ul>
	<h3>Passport Videos</h3>
	<ul>
		<li><a href="https://www.csps-efpc.gc.ca/video/workplace-accessibility/need-passport-eng.aspx">The Need for the Passport</a></li>
		<li><a href="https://www.csps-efpc.gc.ca/video/workplace-accessibility/facilitating-conversations-eng.aspx">Facilitating Conversations Between Employees and Managers</a></li>
		<li><a href="https://www.csps-efpc.gc.ca/video/workplace-accessibility/personal-information-eng.aspx">Protecting Your Personal Information</a></li>
	</ul>
</section>
