---
title: The Passport Newsletter
description: Welcome to the GC Workplace Accessibility Passport Newsletter page! Find recent editions of the newsletter. Stay informed with exciting updates about the Passport, exclusive interviews with accessibility leaders, and valuable insights on good practices for workplace accommodation. We're here to share expert tips and actionable strategies to help you foster a more inclusive and accessible federal public service work environment.
otherLanguageTitle: "L'infolettre du Passeport"
tags: passport
internalLinks: true
---

<p>Subscribe to the Passport newsletter to receive a direct link as soon as new editions are published.</p>

<p>(Create subscription form in html)</p>

{# List all newsletters related to passport here #}
{%- set newsletterslist = collections.newsletters
  | localeMatch(locale)
	| filterByField("passportSection", true)
-%}

{%- if newsletterslist and newsletterslist.length > 0 -%}
  {%- include "partials/newsletterslist.njk" -%}
{%- else -%}
  <p>There are no accessibility passport newsletters at the moment.</p>
{%- endif -%}

<p><a href="">Previous editions on GCpedia<i class="fas fa-user-lock ml-1" aria-hidden="true"></i><span class="wb-inv"> internal link</span></a></p>

Contact the <a href="mailto:">AAACT Passport mailbox</a> for questions, comments, or if you would like to contribute content to the newsletter.
