---
title: "L'infolettre du Passeport"
description: Bienvenue sur la page du bulletin d'information du Passeport pour l'accessibilité du lieu de travail du gouvernement du Canada ! Vous y trouverez les dernières éditions de la lettre d'information. Restez informé grâce à des mises à jour passionnantes sur le Passeport, des entrevues exclusives avec des chefs de file en matière d'accessibilité et de précieux renseignements sur les bonnes pratiques en matière d'adaptation du milieu de travail. Nous sommes là pour partager des conseils d'experts et des stratégies réalisables pour vous aider à favoriser un environnement de travail plus inclusif et plus accessible dans la fonction publique fédérale.
permalink: /passeport-accessibilite/infolettre
otherLanguagePermalink: /accessibility-passport/newsletter
tags: passport
---

<p><a href="https://forms-formulaires.alpha.canada.ca/fr/id/cm73q0wbg00e6x569xw525rvk">Abonnez-vous au bulletin d'information du Passeport d'accessibilité en milieu de travail du GC.</a></p>

{# List all newsletters related to passport here #}
{%- set newsletterslist = collections.newsletters
  | localeMatch(locale)
  | filterByField("passportSection", true)
-%}

{%- if newsletterslist and newsletterslist.length > 0 -%}
  {%- include "partials/newsletterslist.njk" -%}
{%- else -%}
  <p>Il n'y a pas de bulletin d'information sur le passeport d'accessibilité pour le moment.</p>
{%- endif -%}

<p>Contactez la boîte courriel <a href="mailto:gc-accessibility-passport.passeport-accessibilite-gc@ssc-spc.gc.ca">AATIA Passport</a> si vous avez des questions, des commentaires ou si vous souhaitez contribuer au contenu de la lettre d'information.</p>
