---
title: Formation et événements liés au passeport
description: Le Bureau de l'accessibilité, des aménagements et des technologies informatiques adaptées (AATIA) s'associe au Bureau de l'accessibilité de la fonction publique pour permettre aux organisations et aux employés du GC de tirer le meilleur parti du passeport.
otherLanguageTitle: Passport Training and Events
permalink: /passeport-accessibilite/formation/
otherLanguagePermalink: /accessibility-passport/training/
tags: passport
---

<p>Marquez cette page d'un signet et visitez-la souvent, car vous y trouverez les dates, les descriptions et les modalités d'inscription aux séances d'information, aux ateliers et aux programmes de formation du Passeport.</p>

{# Capture all events for the current locale #}
{%- set allEvents = collections.learning | localeMatch(locale) | filterByField("passportSection", true) -%}

{# Upcoming Events Section #}
{% set eventHeading = learning[locale].upcomingActivities %}
{% set learninglist = allEvents | filterByUpcomingEvents(locale) | sortByEventDate(locale) %}
{% include "partials/learninglist.njk" %}

{# No-Date Events Section #}
{% set eventHeading = learning[locale].noScheduledActivities %}
{% set learninglist = allEvents | filterByNoDateEvents(locale) %}
{% include "partials/learninglist.njk" %}

<p>Consultez notre page d'<a href="/formation/">événements d'apprentissage sur l'accessibilité</a> pour découvrir d'autres événements organisés par les gens de l'Accessibilité, adaptation et technologie informatique adaptée (AATIA).</p>
