---
title: Faire tomber les barrières grâce à l'apprentissage
description: Le Programme d’accessibilité, d’adaptation et de technologie informatique adaptée (AATIA) de Services partagés Canada (SPC) offre des formations et ressources gratuites dirigées par des experts afin de promouvoir l’accessibilité et l’inclusion au sein du gouvernement du Canada (GC). Disponibles en anglais et en français, ces séances d’apprentissage flexibles sont conçues par des experts en accessibilité ayant une expérience vécue et peuvent être dispensées en personne, en ligne ou dans un format hybride.
permalink: /formation/
otherLanguagePermalink: /learning/
eleventyExcludeFromCollections: true
---
<p>Bienvenue au programme d'accessibilité, d'adaptation et de technologie informatique adaptée (<abbr>AATIA</abbr>) de Services partagés Canada (<abbr>SPC</abbr>).</p>

<p>Nous nous engageons à favoriser une fonction publique diversifiée, inclusive et respectueuse. Grâce à un large éventail d'activités d'apprentissage interactives et d'ateliers informatifs, nous visons à créer un environnement où chaque personne se sent valorisée, soutenue et équipée pour réussir dans son parcours professionnel.</p>

<p>Joignez-vous à nous pour construire un lieu de travail qui célèbre l'accessibilité et l'inclusion pour tous.</p>

<p>Les activités d'apprentissage de l’<abbr title="accessibilité, d'adaptation et de technologie informatique adaptée">AATIA</abbr> sont :</p>

<ul>
	<li>Gratuites pour les organisations du <abbr title="gouvernement du Canada">GC</abbr></li>
	<li>Disponibles en anglais et en français</li>
	<li>Offertes en personne, en ligne ou de façon hybride</li>
	<li>Conçues par des experts en accessibilité ayant une expérience vécue du handicap</li>
	<li>Flexibles et adaptables pour répondre aux besoins de votre organisation</li>
</ul>

<h2>Contactez-nous</h2>

<p>Les activités d'apprentissage et d'information de l’<abbr title="accessibilité, d'adaptation et de technologie informatique adaptée">AATIA</abbr> sont pleines de stratégies pratiques que vous pouvez appliquer immédiatement. Nous pouvons organiser une séance d'apprentissage privée pour vous ou toute votre équipe. Choisissez la date et l'heure qui vous conviennent le mieux.</p>

<p>Pour discuter des besoins de votre organisation en matière d'apprentissage ou pour de l’information en matière d'accessibilité et d'inclusion, demandez une consultation (lien à venir).</p>

{# Liste de tous les événements ici #}

{%- if collections.learning and collections.learning.length > 0 -%}
  {%- set learninglist = collections.learning | localeMatch(locale) -%}
  {%- if learninglist and learninglist.length > 0 -%}
    {%- include "partials/learninglist.njk" -%}
  {%- else -%}
    Aucun événement n'est prévu pour le moment.
  {%- endif -%}
{%- else -%}
  Aucun événement n'est prévu pour le moment.
{%- endif -%}
