---
title: Faire tomber les barrières grâce à l'apprentissage
description: Le Programme d’accessibilité, d’adaptation et de technologie informatique adaptée (<abbr>AATIA</abbr>) de Services partagés Canada (<abbr>SPC</abbr>) offre de la formation et des ressources gratuites, élaborées par des experts, afin de promouvoir l’accessibilité et l’inclusion au sein du gouvernement du Canada. Disponibles en anglais et en français, ces sessions d’apprentissage flexibles peuvent être dispensées en personne, en ligne ou dans un format hybride.
permalink: /formation/
otherLanguagePermalink: /learning/
eleventyExcludeFromCollections: true
---
<p>Bienvenue au programme d'accessibilité, d'adaptation et de technologie informatique adaptée (<abbr>AATIA</abbr>) de Services partagés Canada (SPC).</p>

<p>Nous nous engageons à favoriser une fonction publique diversifiée, inclusive et respectueuse. Grâce à un large éventail d'activités d'apprentissage interactives et d'ateliers informatifs, nous visons à créer un environnement où chaque personne se sent valorisée, soutenue et équipée pour réussir dans son parcours professionnel.</p>

<p>Joignez-vous à nous afin de construire un milieu de travail qui célèbre l'accessibilité et l'inclusion pour tous.</p>

<p>Les activités d'apprentissage de l'<abbr title="accessibilité, d'adaptation et de technologie informatique adaptée">AATIA</abbr> sont</p>

<ul>
	<li>Gratuites pour les organisations du GC</li>
	<li>Disponibles en anglais et en français</li>
	<li>Offertes en personne, en ligne ou de façon hybride</li>
	<li>Conçues par des experts en accessibilité ayant une expérience vécue du handicap</li>
	<li>Flexibles et adaptables pour répondre aux besoins de votre organisation</li>
</ul>

<h2>Nous contacter</h2>

<p>Les activités d'apprentissage et d'information de l’<abbr title="accessibilité, d'adaptation et de technologie informatique adaptée">AATIA</abbr> sont pleines de stratégies pratiques que vous pouvez appliquer immédiatement. Nous pouvons organiser une session d'apprentissage privée pour vous ou toute votre équipe.</p>

<p>Choisissez les dates et heures qui vous conviennent le mieux.</p>

<p>Demandez une consultation afin de discuter des besoins d’apprentissage ou d’information de votre organisation sur l’accessibilité et l’inclusion. (Lien à venir)</p>

{# Capture all events for the current locale #}
{%- set allEvents = collections.learning | localeMatch(locale) -%}

{# Upcoming Events Section #}
{% set eventHeading = learning[locale].upcomingActivities %}
{% set learninglist = allEvents | filterByUpcomingEvents(locale) | sortByEventDate(locale) %}
{% include "partials/learninglist.njk" %}

{# No-Date Events Section #}
{% set eventHeading = learning[locale].noScheduledActivities %}
{% set learninglist = allEvents | filterByNoDateEvents(locale) %}
{% include "partials/learninglist.njk" %}

<p>Consultez nos <a href="/formation/evenements-passes/">événements passés</a>.</p>
