---
title: Breaking down barriers through learning
description: The Accessibility, Accommodation, and Adaptive Computer Technology (<abbr>AAACT</abbr>) Program at Shared Services Canada (<abbr>SSC</abbr>) provides free, expert-led training and resources to promote accessibility and inclusion in the Government of Canada. Available in English and French, these flexible learning sessions can be delivered in-person, online, or in a hybrid format.
permalink: /learning/
otherLanguagePermalink: /formation/
eleventyExcludeFromCollections: true
---

<p>Welcome to Shared Services Canada's (<abbr>SSC</abbr>) Accessibility, Accommodation and Adaptive Computer Technology (<abbr>AAACT</abbr>) Program.</p>

<p>We are committed to fostering a diverse, inclusive, and respectful public service. Through a wide range of interactive learning activities and informative workshops, we aim to create an environment where every individual feels valued, supported, and equipped for success in their professional journey.</p>

<p>Join us in building a workplace that celebrates accessibility and inclusion for all.</p>

<p>AAACT’s learning activities are:</p>

<ul>
	<li>Free for <abbr title="Government of Canada">GC</abbr> organizations</li>
	<li>Available in English and French</li>
	<li>Delivered in-person, online or hybrid</li>
	<li>Designed by accessibility experts with lived experience of disability</li>
	<li>Flexible and adaptable to meet your organization’s needs</li>
</ul>

<h2>Contact us</h2>

<p><abbr title="Accessibility, Accommodation and Adaptive Computer Technology">AAACT</abbr> learning and information activities are packed with practical strategies you can apply right away. We can arrange for a private learning session for you or your entire team. Choose the date and time that works best.</p>

<p>To discuss your organization’s accessibility and inclusion learning or information needs, request a consultation (link to come soon)</p>

{# When modifying this do not forget about the passport events list #}

{# Capture all events for the current locale #}
{%- set allEvents = collections.learning | localeMatch(locale) | filterByField("passportSection", false) -%}

{# Upcoming Events Section #}
{% set eventHeading = learning[locale].upcomingActivities %}
{% set learninglist = allEvents | filterByUpcomingEvents(locale) | sortByEventDate(locale) %}
{% include "partials/learninglist.njk" %}

{# No-Date Events Section #}
{% set eventHeading = learning[locale].scheduledActivities %}
{% set learninglist = allEvents | filterByNoDateEvents(locale) %}
{% include "partials/learninglist.njk" %}

<p>Check out our <a href="/learning/past-events/">past events</a>.</p>

