{% set otherLocale = "fr" if locale == "en" else "en" %}
{% set localeText = "English session" if locale == "en" else "Séance en français" %}
{% set otherLocaleText = "French session" if locale == "en" else "Séance en anglais" %}
{% set timeZone = "<abbr title=\"Eastern Standard Time\">EST</abbr>" if locale == "en" else "<abbr title=\"heure normale de l'Est\">HNE</abbr>" %}

{% extends "layouts/base.njk" %}
{% block content %}

{%- if not eleventyExcludeFromCollections -%}

{%- if eventDetails -%}

<h2>{{ learning[locale].eventDetails.headingText }}</h2>
{%- endif -%}

{%- if introduction -%}
{{ introduction | markdownify | safe }}
{%- endif -%}

{%- if eventDetails -%}
<dl{% if eventDetails[otherLocale].date and eventDetails[locale].date %} class="colcount-md-2"{%- endif -%}>
	{% if eventDetails[locale].date %}
	<dt>{{ localeText }}</dt>
	<dd>
		<dl class="ml-4 mt-3">
			<dt>Date:</dt>
			<dd class="ml-4">{{ eventDetails[locale].date | fullTextDate(locale) }}</dd>
			<dt>{{ learning[locale].eventDetails.timeText }}</dt>
			<dd class="ml-4">{{ eventDetails[locale].startTime }} {% if locale == "en" %}&mdash;{% else %}à{% endif %} {{ eventDetails[locale].endTime }} ({{ timeZone | safe }})</dd>
			<dt>{{ learning[locale].eventDetails.registrationText }}</dt>
			<dd class="ml-4"><a href="{{ eventDetails[locale].link }}">{{ eventDetails[locale].text }}</a></dd>
			{%- if eventDetails[locale].signLanguage -%}
				<dt>{{ learning[locale].eventDetails.signLangText }}</dt>
				<dd class="ml-4">{{ learning[locale].eventDetails.signLangAvailable }}</dd>
			{%- endif -%}
			{%- if platform -%}
				<dt>{{ learning[locale].eventDetails.platformText }}</dt>
				<dd class="ml-4">{{ platform }}</dd>
			{%- endif -%}
		</dl>
	</dd>
	{% endif %}
	{%- if eventDetails[otherLocale].date -%}
	<dt>{{ otherLocaleText }}</dt>
	<dd>
		<dl class="ml-4 mt-3">
			<dt>Date:</dt>
			<dd class="ml-4">{{ eventDetails[otherLocale].date | fullTextDate(locale) }}</dd>
			<dt>{{ learning[locale].eventDetails.timeText }}</dt>
			<dd class="ml-4">{{ eventDetails[otherLocale].startTime }} {% if locale == "en" %}&mdash;{% else %}à{% endif %} {{ eventDetails[otherLocale].endTime }} ({{ timeZone | safe }})</dd>
			<dt>{{ learning[locale].eventDetails.registrationText }}</dt>
			<dd class="ml-4"><a lang="{{ otherLocale }}" href="{{ eventDetails[otherLocale].link }}">{{ eventDetails[otherLocale].text }}</a></dd>
			{%- if eventDetails[locale].signLanguage -%}
				<dt>{{ learning[locale].eventDetails.signLangText }}</dt>
				<dd class="ml-4">{{ learning[locale].eventDetails.signLangAvailable }}</dd>
			{%- endif -%}
			{%- if platform -%}
				<dt>{{ learning[locale].eventDetails.platformText }}</dt>
				<dd class="ml-4">{{ platform }}</dd>
			{%- endif -%}
		</dl>
	</dd>
	{%- endif -%}
</dl>
{%- endif -%}
{%- endif -%}

{{ content | safe }}

{% endblock %}
